<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>My Site - {% block title %}{% endblock %}</title>
    {% endblock %}

<style>
    menu li {
        display: inline;
    }
</style>
</head>

<body>
<header>
    <menu>
        <li><a href="{{ url_for('bp.index') }}">Home</a></li>
        <li><a href="{{ url_for('homepage.about') }}">About</a></li>
        <li><a href="{{ url_for('homepage.users') }}">Users</a></li>
    </menu>
</header>

<div>
    {% block content %}
    {% endblock %}
</div>
<footer>
    Footer Goes Here
</footer>
</body>
</html>
